.brand-logo {
    width: 50px;
    left: -45px;
    position: absolute;
}
.carousel-inner .carousel-item {
    height: 100vh;
    width: 100%;
}
.carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
}
.contact-location-map .contact-location-map-block {
    width: 100%;
    height: 100%;
}
.contact-location-map .contact-location-map-block .iframe-location-map {
    width: 100%;
    height: 100%;
    border: none;
}